html{
  height: 100%;
}
body{
  background: linear-gradient(45deg, #683d81, #00faed, #3c06ff);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-align: center;
  margin-top: 10mm;
  }
  
  .game{
    margin-top: 30mm;
    width: 150mm;
    height: 150mm;
    font-size: 35mm;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-weight: 200;
}

.game div{
  float: left;
  width: 50mm;
  height: 50mm;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.game button {
  font-size: 35mm;
  font-family: 'Courier New', Courier, monospace;
}

.game button :active {
  background-color: #5e5e5e;
  color: #000;
}


.a1 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.a2 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.a3 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #fff;
}

.b1 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.b2 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.b3 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #fff;
}

.c1 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: none;
}

.c2 {
  border-top: none;
  border-left: none;
  border-right: 3px solid #fff;
  border-bottom: none;
}